<mat-toolbar>
  <h1>Kleiderspende</h1>
</mat-toolbar>
<p>Herzlich Willkommen bei der Kleiderspende in 41460 Neuss. Bitte registrieren Sie Ihre Spende in dem nachfolgenden
  Formular.</p>
<app-registrierung-form *ngIf="kleiderspende == null"
                        (registrierungClicked)="onRegistrierungClicked($event)"></app-registrierung-form>
<app-registrierung-success *ngIf="kleiderspende" [kleiderspende]="kleiderspende"
                           (weitereSpendeClicked)="onWeitereSpende()"></app-registrierung-success>

