<mat-card style="margin-left: 8px; margin-right: 8px">
  <mat-card-header><h2>Registrierung einer Spende</h2></mat-card-header>
  <mat-card-content>
    <form [formGroup]="formGroup">
      <div class="row">
        <mat-form-field class="col-3">
          <mat-label>Vorname</mat-label>
          <input matInput formControlName="vorname"/>
        </mat-form-field>
        <mat-form-field class="col-3">
          <mat-label>Nachname</mat-label>
          <input matInput formControlName="nachname"/>
        </mat-form-field>
        <br/>
      </div>
      <div class="row">
        <mat-radio-group aria-label="Select an option" formControlName="abgabe" class="col-6">
          @for (option of abgabeOptions; track option) {
            <mat-radio-button
              [value]="option.value"
            >{{ option.label }}
            </mat-radio-button
            >
          }
        </mat-radio-group>
      </div>
      @if (isAbgabeOptionAbholung()) {
        <h3>Abholadresse</h3>
        <div class="row">
          <mat-form-field class="col-5">
            <mat-label>Straße</mat-label>
            <input matInput formControlName="strasse"/>
          </mat-form-field>
          <mat-form-field class="col-1">
            <mat-label>Hausnummer</mat-label>
            <input matInput formControlName="hausnr"/>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-3">
            <mat-label>PLZ</mat-label>
            <input type="number" matInput formControlName="plz"/>
            @if (formGroup.controls.plz.invalid) {
              <mat-error>{{ getPlzErrorMessage() }}</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-3">
            <mat-label>Ort</mat-label>
            <input matInput formControlName="ort"/>
          </mat-form-field>
        </div>
      }
      <div class="row">
        <mat-form-field class="col-3">
          <mat-label>Kleiderarten</mat-label>
          <mat-select formControlName="kleiderarten" multiple>
            @for (kleidungsart of kleiderarten; track kleidungsart) {
              <mat-option [value]="kleidungsart.value">{{ kleidungsart.label }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-3">
          <mat-label>Krisengebiet</mat-label>
          <mat-select formControlName="krisengebiet">
            @for (krisengebiet of krisengebiete; track krisengebiet) {
              <mat-option [value]="krisengebiet.value">{{ krisengebiet.label }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="onRegistrierenClick()">Registrieren</button>
  </mat-card-actions>
</mat-card>
